
body {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Playfair Display', serif;
}
.container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    
}
* {
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}
p {
    padding: 0;
}

.header {
    
    background: black;
}
.header_intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    height: 44px;
    
}
.header_intro img {
    vertical-align: bottom;
}
.header_text {
    
    color: #969696;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    font-family: PT Sans;
}
.header_subtitle {
    font-family: 'PT Sans', sans-serif;
    background: #0F0F0F;
    height: 80px;
    display: flex;
    align-items: center;
    

}
.nav {
   display: flex;
   justify-content: space-between;
    
    
}

.nav_link {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    color: #969696;
    line-height: 18px;
    vertical-align: middle;
    padding: 31px 25px;
}

.nav_link:hover {
    color: #fff;
    transition: .2s all linear;
}


.section {
background: url("img/bg_header.jpg") no-repeat;
background-size: cover;
height: 810px;
display: flex;
justify-content: center;
flex-direction: column;
}
.intro_inner {
    text-align: center;
    
    
}
.intro_text {
    font-size: 22px;
    line-height: 28px;
    font-weight: 400;
    color: #ffff;
    font-family: PT Sans;
   
    text-transform: uppercase;
}

.x3cfh {
    margin: 100px 0;
}
.intro_text:before{
    content: "";
    display: block;
    margin: 20px auto;
    background: #fff;
    height: 2px;
    width: 170px;
   
    
}

.intro_subtitle {
    font-family: PT Sans;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.new_collections {
    display: flex;
    height: 730px;
    
}

.ocolec {
    background: #000;
    width: 55%;
    padding: 100px 0;
}
.collect_title {
    color: #fff;
    
    text-align: center;;
}
.collect_title:after {
    content: "";
    display: block;
    margin: 50px auto;
    background: #fff;
    height: 2px;
    width: 120px;
}
.tcolec {
    width: 45%;
    background: url(img/Rectangle\ 8.jpg) no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    text-align: center;
    padding-bottom: 100px;
}
.ocolec_inner {
    display: flex;
    justify-content: space-evenly;
}
.item_img {
    background: #191B1C;
    height: 325px;
   width: 260px;
   
   display: flex;
   justify-content: center;
   align-items: center;

}
.item {
   
    display: flex;
    flex-direction: column;
    color: #fff;
    margin-bottom: 40px;

}
.item_suptitle {
    font-family: Playfair Display;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    margin: 28px 0 10px 0;
}
.item_subtitle {
    font-family: Playfair Display;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
}
.collect_title {
    font-size: 36px;
    font-weight: 700;
    line-height: 47px;
    color: #fff;
    text-transform: uppercase;
}

.btn--transparent {
    font-family: PT Sans;
    text-transform: uppercase;
    color: #fff;
    background: transparent;
    padding: 12px 28px;
    border: 1px solid #fff;
    font-size: 18px;
    text-decoration: none;
    line-height: 23px;
    
}
.btn--transparent:hover {
    background: #fff;
    color: #000;
    transition: .2s all linear;
}
.bnjm {
    background: url(img/Rectangle\ 9.jpg);
    height: 600px;
    width: 45%;
}
.xvgbu {
    height: 600px;
}

.hnmjm {
    display: flex;
}

.qvgnj {
    text-align: center;
    background: #000;
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.qvgnj_text {
    font-family: PT Sans;  
    font-size: 14px;
    line-height: 21px;
    width: 471px;
    height: 170px;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 100px;
} 
.bmjhm_title {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
}
.bmjhm_title:after{
    content: "";
    display: block;
    margin: 50px auto;
    background: #fff;
    height: 2px;
    width: 120px;
}

.entrances {
    background: #000;
    padding: 120px 0 150px 0;
    
}

.entrances_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.our_brand {
    background: #0F0F0F;
    padding: 60px 0 80px 0;
}
.brand_inner {
    display: flex;
    justify-content: space-between;
}
.about {
    background: url(img/Rectangle\ 15.jpg);
    height: 400px;
    color: #fff;
}
.about_inner {
    padding: 100px 0 80px 0;
    display: flex;
    
}

.about_title {
    color: #fff;
    font-size: 24px;
    line-height: 31px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.about_description {
    width: 33%;
}
.desctiption_text {
    font-family: PT Sans;  
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
}
.about_categories {
    width: 33%;
    padding: 0 20px;
}
.about_item {
    text-decoration: none;
    color: #fff;
    
    font-family: PT Sans;  
    font-size: 14px;
    line-height: 21px;
    background-color: black;
    font-weight: 400;
    padding: 10px 20px;
}
.categories_list a {
    margin-bottom: 10px;
}

.disctribution {
    width: 33%;
    padding-left: 16px;
}

.categories_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 310px;
    width: 100%;
}

.description_connect {
    display: flex;
}
.desc_in {
    background: rgba(255, 255, 255, 0.4);;
    border: 0;
    width: 210px;
    height: 40px;
    outline: none;
    padding: 0px 10px
    
}
.desc_in::placeholder {
    color: #fff;
}
.btn--desc {
    text-decoration: none;
    color: #fff;
    background-color: #0F0F0F;
    font-family: PT Sans;  
    font-size: 14px;
    line-height: 21px;
    border: none;
    outline: none;;
    font-weight: 400;
    padding: 10px 20px;
    cursor: pointer;
}
.btn--desc:hover {
    background: #fff;
    color: #000;
    transition: .2s all linear;
}
.footer {
    background: #000;
    height: 50px;
    display: flex;
    align-items: center;
    
}

.footer_title {
    color: #fff;
    font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 16px;
}